@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

*{
    
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
}
body{
    padding: 0;
    margin: 0;
}

/* navbar*/

nav{

    font-family: 'Noto Sans Mono', monospace;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5%;
    padding-left: 0.5%;
    
}




.container1 {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    
}

.container2{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    font-family: 'Noto Sans Mono', monospace;

}

/*formulaire */

.formulaire{


background-color: #EEE6D8;
border-radius: 3%;
text-align: center;
width: 20%;
display: flex;
flex-direction: column;

}

.formulaire2{


    background-color: #EEE6D8;
    border-radius: 3%;
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
    display: flex;
    flex-direction: column;
    width: 30%;
    
    
    }

.modif{

    align-content: center;
}
.modif1{

    margin-top: 5%;
    background-color: #EEE6D8;
    border-radius: 3%;
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35%;
    width: 28%;
    
}

#connexion{

    margin-top: 2%;
}
.profil{

    line-height: 2em;
    padding-bottom: 1%;
    text-align: center;
    
    
}

input {

    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
}

.formulaire input, .formulaire2 input, .modif1 input{

    text-align: center;
    padding: 7%;
    border-radius: 2%;
    margin-bottom: 5%;
    border: none;
    background-color: #f2f2f2;    
    outline: none;
    box-sizing: content-box;
}

label{
    padding-bottom: 2%;
    line-height: 0.5rem;
}



input[type='submit'] {
    text-align: center;
    padding: 5% 8%;
    border: none;
    width: 15%;
    display: flex;
    align-self: center;
    border-radius: 8%;
    margin-bottom: 2%;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.erreur{

    color: red;
    text-align: center;
    padding-top: 2%;
}
.editprofil{
    
    display: flex;
    justify-content: center;



}



#index{
    padding-top: 2%;
    text-align: center;
}




.liste a {
    font-weight: bolder;
    line-height: 2rem;
    margin-top: 2%;
    
    display: flex;
    justify-content: center;
    
}

#modifier{

    margin-top: 2%;
    width: 35%;
}

#admin{

    text-align: center;
    
}

#admin2{
    padding-top: 2%;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
}

nav ul li a{
    color: black;
    text-decoration: none;
}


.footer{
    
    margin-top: 20%;
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Noto Sans Mono', monospace;
    
    
}

.footer ul li a{
    transition: all 0.3s ease;

}

.footer ul li {
    transition: all 0.3s ease;

}

.footer ul li a:hover{
    padding-left: 8px;
}
.footer ul li:hover{
    padding-left: 8px;
}


.navigation {
    margin-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 2rem;
}
.navi{
    font-size: 20px;
    color: black;
}
.navigation a {
    color: white;
    
    font-size: 14px;
}

.footer a:hover{
    color:#CE6A6B;
}

.footer li:hover{
    color:#CE6A6B;
}

.contact  {
    color: white;
    line-height: 2rem;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 20%;
    font-size: 14px;
}

.info{
    color: black;
    font-size: 20px;
}
